<div class="d-grid gap-2">
    <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="Dashboard">
        Dashboard
    </a>
    <a class="btn btn-outline-secondary" asp-controller="Admin" asp-action="Users">
        Users
    </a>

</div>
