@model IEnumerable<OnlineShopProject.Services.Product>

@{
    ViewData["Title"] = "Home";
}

<div class="d-flex justify-content-center align-items-center">
    <h1 class="display-2 text-center" style: >Products in the shop</h1>
</div>

<div class="container">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 mb-4">
                <div class="card">
                    <div class="card-body" style="background-color: whitesmoke;">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">Price: $@product.Price</p>
                        <button type="button" class="btn btn-outline-primary w-100" onclick="location.href='/Product/@product.ProductId'">Show Product</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
