@model OnlineShopProject.Services.Product;

@{
	this.Layout = "_Layout";
}

<h1>Product with ID @Model.ProductId</h1>
<br />
<h2>And name @Model.Name</h2>
<br />
<h3>category is @Model.Category.CategoryName</h3>