@model ChangePasswordViewModel;

@{
	Layout = "_AccountLayout";
}

<h1 class="display-6 text-center" style="margin-bottom:40px;">Change Password</h1>
<form asp-action="ChangePassword" method="post">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div class="mb-3">
		<label asp-for="Email" class="form-label"></label>
		<input asp-for="Email" class="form-control" readonly/>
	</div>
	<div class="mb-3">
		<label asp-for="NewPassword" class="form-label"></label>
		<input asp-for="NewPassword" class="form-control" />
		<span asp-validation-for="NewPassword" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="ConfirmNewPassword" class="form-label"></label>
		<input asp-for="ConfirmNewPassword" class="form-control" />
		<span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
	</div>
	<input type="submit" value="ChangePassword" class="btn btn-success w-100 p-2" />


	<div class="text-center">
		<div class="col navbar-brand"><a asp-controller="Home" asp-action="Index" class="col navbar-brand title">Back</a></div>
	</div>
</form>


@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
	}
}