
<!DOCTYPE html>
<html lang="en" xml:lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SportsStore</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
</head>
<style>
    .col.navbar-brand.title {
        color: white;
        transition: text-shadow 0.3s ease, color 0.3s ease;
    }

    .col.navbar-brand.title:hover {
        color: #ff0;
        text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0;
    }

    .floating-island {
        background-color: floralwhite;
        border-radius: 15px;
        padding: 50px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3), 0 6px 6px rgba(0, 0, 0, 0.23);
        width: auto;
        min-width: 400px;
        min-height: 200px;
    }


</style>
<body>
    <div class="bg-primary text-white p-2">
        <div class="container-fluid">
            <div class="row">
                <div class="col navbar-brand"><a asp-controller="Home" asp-action="Index" class="col navbar-brand title">ONLINE SHOP</a></div>
                <div class="col-6 navbar-text text-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="col-auto text-center floating-island">
            @RenderBody()
        </div>
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
